ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.excersises-body {
    display: grid;
    grid-template-areas: "popup popup popup";
}

.popup-item{
    grid-area: popup;
    margin: 10px;
}
.grid-items{
    margin: 10px;
}